* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #cdf7d7;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    padding: 30px;
    flex: 1 1 auto;
}

.main-bg {
    min-height: 800px;
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-origin: inherit;
    background-size: contain;
}